* {
    padding: 0;
    max-width: 1366px;
    margin: 0 auto;
}

.cart_items {
    display: flex;
    justify-content: space-between;
}

.cart_item_price {
    margin: 0;
}

.cart_item_name {
    text-align: left;
    margin: 0;
}

.shop_items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.shop_item {
    margin-right: 30px;
    margin-left: 30px;
}

.hidden {
    display: none;
    /* visibility: hidden; */
}

.chess_game_cl {
    padding-top: 50px;
}

.chess {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.chess_table {
    
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(141, 141, 141);
}
.cell_white {
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    background-color: rgb(206, 206, 151);
}

.cell_white:hover {
    opacity: 70%;
}

.cell_black {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(117, 117, 117);
    width: 50px;
    height: 50px;
}

.cell_black:hover {  
    opacity: 10%;
}

.cellTitle {
    border: none;
    background-color: rgb(255, 255, 255);
}

.fig_white {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.fig_black {
    font-weight: bold;
    color: black;
}